@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Allan', cursive;
    --fonte3: 'Road Rage', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 8vh;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

section > p {
    padding-bottom: 2em;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 3.5vh;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.308);
   display: inline-block;
   padding: 5px;
   color: rgb(255, 255, 255);
   text-shadow: 2px 1px 0px black;
}

section.imagem {
    background-color: rgb(0, 0, 0);
    color: rgb(51, 46, 46);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    background-attachment: fixed;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-size: cover;
    background-image: url(imagens/background002.jpg)
}